.left-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100px;
    width: 200px; /* ширина левой панели */
}

.mainphoto{
    width: 95px;
    height: 95px;
    border-radius: 50%; /* Делает фото круглым */
    border: 5px solid rgba(231, 138, 169, 0.733);
}

.name, .surname, .profession{
    text-align: center; /* выравнивает фамилию имя и профессию по центру*/
}

.name, .surname{
    text-transform: uppercase; /* делает все буквы заглавными */
    font-size: 20px;
    line-height: 0.5px;
}

.surname{
    font-weight: 700;
    margin-top: -3px;
}

.profession{
    font-size: 9px;
    color: #AEAEAE;
    text-transform: uppercase;
}

.main-inf{
    display: flex;
    flex-direction: column;
    background-color: #ECF4FC; /* фон левой панели */
    width: 176px;
    font-family: 'Inter', sans-serif;
    font-size: 9px;
    min-height: 200vh;
    margin-top: 30px;
}

.softskills, .hobbies{
    text-align: center;
}

.contacts{
    margin-left: 10px;
}

.main-inf .head{
    background-color: #D9D9D9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    width: 100px;
    height: 20px;
    text-align: center;
    margin-left: 30px;
    margin-top: -7px;
}

.white-round{
    position: relative;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    display: inline;
    float: left;
}

.white-round img{
    margin-left: 3px;
    margin-top: 3px;
}


.right-panel{
    width: 340px;
    margin-left: 20px;
}

/* .right-panel .ellipse-right{
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-left: 10px;
} */

.right-panel .head-right{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}

.work-name{
    font-size: 14px;
    font-weight: bold;
}

.aboutme{
    font-size: 11px;
    text-align: justify;
}

.work-doing{
    font-size: 11px;
    text-align: justify;
}