html{
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header{
    display: flex;
    height: 50px;
    background-color: #f5f5ff;
    font-size: 11px;
}

.logo{
    height: 55px;
    width: 65px;
    margin-left: 15px;
    margin-right: 30px;
}

.menu-item{
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 48px;
    line-height: 15px;
    box-sizing: border-box;
    padding: 15px 10px;
}

.menu-item:hover{
    background: linear-gradient(180deg, #f4f4ff, #d8ceed);
}

.container {
    display: flex;
    align-items:self-start;
    justify-content:flex-start;
    margin-top: 10px;
}

.page-title{
    margin-left: 35%;
}

.footer{
    margin-bottom: 0;
    height: 40px;
    background-color: #f4f4ff;
    font-size: 11px;
    text-align: center;
    margin-top: 3px;
}