@font-face { 
    font-family: "MuseoSansCyrl300";
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
    font-weight: bold;
}

@font-face { 
    font-family: "MuseoSansCyrl100";
    src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot");
    src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype");
    font-weight: normal;
}

@font-face { 
    font-family: "MuseoSansCyrl500";
    src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot");
    src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf") format("truetype");
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    outline: none;
    overflow-x: hidden;
    margin: -10px;
}

.header{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    height: 50px;
}

.header p {
    font-family: 'MuseoSansCyrl300';
    font-size: 14px;
    margin-top: 30px;
}

.logo {
    width: 70px;
    height: 25px;
    margin-left: 120px;
    margin-top: 31px;
}

.iconmenu {
    width: 26px;
    height: 16px;
    margin-left: 22px;
    margin-top: 36px;
}

.basket {
    height: 25px;
    width: 25px;
    margin-top: 28px;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.firstscreen {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

.maininfo {
    width: 50%;
    margin-top: 159px;
    margin-left: 120px;
}

.maininfo h1 {
    width: 510px;
    text-align: justify;
    font-size: 55px;
    font-family: "MuseoSansCyrl300";
    line-height: 66px;
}

p {
    font-family: 'MuseoSansCyrl300';
    font-size: 18px;
    line-height: 140%;
}

.mainButtonChose {
    position: relative;
    height: 69px;
    width: 260px;
    background-color: rgba(141, 175, 25, 1);
}

.mainButtonChose a {
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: "MuseoSansCyrl300";
    margin-left: 59px;
    margin-top: 23px;
}

.mainimg {
    width: 50%;
    margin-top: 61px
}

.mainimg img{
    position: relative;
}

/* .cutimg {
    position: absolute;
    width: 194px;
    height: 431px;
    background-color: white;
    margin-left: 133px;
    margin-top: 0;
} */

.secondscreen {
    background-color: rgba(241, 244, 230, 1);
    height: 105vh;
    margin-top: -100px;
}

.secondtitle {
    display: flex;
    justify-content: space-between;
}

.secondtitle p{
    margin-top: 80px;
    margin-left: 140px;
    font-family: "MuseoSansCyrl500";
    font-size: 40px;
}

.navigationarrows {
    margin-top: 100px;
    color: rgba(105, 105, 105, 1);
}

.navigationarrows img {
    width: 30px;
    height: 15px;
}

.navigationarrows img:last-child {
margin-right: 140px;
}

.dietTypes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 125px;
}

.type {
    position: relative;
    width: 384px;
    height: 520px;
    background-color: white;
}

.type:first-child {
    margin-left: 120px;
}

.type:last-child {
    margin-right: 120px;
}

.type img {
    height: 324px;
    width: 324px;
    margin-left: 30px;
    margin-top: 30px;
}

.programname {
    display: block !important;
    margin-top: 36px !important;
    margin-left: 30px !important;
    font-family: "MuseoSansCyrl500" !important;
    font-size: 22px !important;
}

.programccal {
    margin-left: 30px !important;
    margin-top: 15px !important;
    font-family: "MuseoSansCyrl300" !important;
    font-size: 14px !important;
    line-height: 16.8px !important;
}

.choseButton {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(141, 175, 25, 1);
    z-index: 1;
    margin-top: -86px;
    margin-left: 283px;
}

.choseButton img {
    position: absolute;
    width: 30px;
    height: 20px;
    margin-top: 25px;
    margin-left: 23px;
}

.thirdscreen {
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
    height: 540px;
}

.lastinfo {
    width: 30%;
    text-align: justify;
    margin-left: 120px;
}

.lastinfo p:first-child{
    width: 282px;
    font-size: 40px;
    font-family: "MuseoSansCyrl500";
}

.lastinfo p:last-child{
    width: 319px;
    font-size: 18px;
    font-family: "MuseoSansCyrl300";
}

.orderform {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.orderform input{
    width: 320px;
    height: 69px;
    margin-top: 15px;
}

.orderform .mainButtonChose{
    margin-top: 15px;
    color: white;
    font-family: "MuseoSansCyrl300";
    font-size: 18px;
}

.mainButtonChose p{
    margin-left: 63px;
    margin-top: 20px;
}

.lastimg {
    width: 30%;
    margin-right: 120px;
}

.footer {
    width: 100vw;
    height: 135px;
    margin-bottom: -10px;
    background: #F1F4E6;
}

@media screen and (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 100vw;
        margin-left: -10px;
    }

    .firstscreen{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .maininfo{
        width: 345px;
        text-align: justify;
        margin-top: 60px;
    }

    .maininfo h1{
        width: 345px;
        font-size: 38px;
        line-height: 45px;
    }

    .maininfo p{
        font-size: 18px;
        margin-top: 25px;
    }

    .mainButtonChose{
        margin-top: 40px;
        width: 354px;
    }

    .mainButtonChose a{
        margin-left: 110px;
    }

    .mainimg{
        width: 345px;
    }

    .secondscreen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
        height: max-content;
    }

    .navigationarrows {
        display: none;
    }

    .dietTypes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    .type {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .thirdscreen{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .lastimg{
        display: none;
    }

    .footer{
        margin-top: 70px;
    }
}
